{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <style>
    #allocation{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    #allocation image{
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    #y-axis{
      width: 100%;
      /* padding-right: 15px;
      padding-left: 15px; */
      margin-right: auto;
      margin-left: auto;
    }

    #allocation .tick{
      opacity: 0.2;
    }

    #x-axis{
      width: 100%;
      /* padding-right: 15px;
      padding-left: 15px; */
      margin-right: auto;
      margin-left: auto;
    }

    .booth{
      fill: white;
      stroke-width: 2px;
      stroke: black;
    }

    #tools{
      margin: 10px;
    }

    #selection-container{
      margin: 15px;
      padding : 10px;
      stroke-width: 1px;
      stroke: black;
      border-style: solid;
      border-color: black;
    }

  </style>
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <title>Main Page</title>
    </head>
      <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Swapstone</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Main <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Load CSV File
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved layouts</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Saved Data 1
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-0">
      <div class = "map" id = "main">
        <div id = "tools">
          <input type="checkbox" id="editorMode"><span class="checkboxtext font-size:1pt">Editor Mode</span></input>
        </div>
        <div id = "allocation-container">
        </div>
        <div id = "selection-container">
          <h2>Selected Booth:</h2>
          <p id = "selected-booth-name"></p>
        </div>
      </div>
    </main>
  </div>
</div>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
<script src="http://d3js.org/d3.v5.js"></script>
<script>
  var width = 800, height = 800;
  
  var ratiox = width / 1000;
  var ratioy = height / 1000;
  
  var data = [{ "x" : 360, "y" : 360, "width" : 80, "height" : 80, "group" : "C2", "rotate" :0},
  { "x" : 440, "y" : 400, "width" : 40, "height" : 40, "group": "C1", "rotate" : 0},
  { "x" : 480, "y" : 400, "width" : 40, "height" : 40, "group" : "C10", "rotate" : 0},
  { "x" : 520, "y" : 400, "width" : 40, "height" : 40, "group" : "C3", "rotate" : 0},
  { "x" : 400, "y" : 450, "width" : 40, "height" : 40, "group" : "C4", "rotate" : 0},
  { "x" : 400, "y" : 490, "width" : 40, "height" : 40, "group" : "C28", "rotate" : 0}];

  var xscale = d3.scaleLinear()
          .range([0, width - 5])
          ;
  
  var yscale = d3.scaleLinear()
          .range([height - 5, 0])
          ;
  
  var x_axis = d3.axisBottom(xscale)
          .tickSize(height - 5)
          .ticks(40)
          ;
  
  var y_axis = d3.axisLeft(yscale)
          .tickSize(-width + 5)
          .ticks(40)
          ;

  // var zoom = d3.zoom()
  //   .scaleExtent([1, 40])
  //   .translateExtent([[-100, -100], [width + 90, height + 100]])
  //   .on("zoom", zoomed);

  // function zoomed() {
  //   svg.attr("transform", d3.event.transform);
  //   svg.call(x_axis.scale(d3.event.transform.rescaleX(xscale)));
  //   svg.call(y_axis.scale(d3.event.transform.rescaleY(yscale)));
  // }

  var svg = d3.select("#main")
              .select("#allocation-container")
              .append("svg")
              .attr("id", "allocation")
              .attr("width", width)
              .attr("height", height)
              ;

  var image = svg.append('image')
                .attr('width', width - 5)
                .attr('height', height - 5)
                .attr('x', 0)
                .attr('y', 0)
                .attr("href", "{% static 'images/scratch.jpg' %}")
                ;
  
    svg.append("g")
        .attr("id", "x-axis")
        .call(x_axis)
        ;

    svg.append("g")
        .attr("id", "y-axis")
        .call(y_axis)
        ;

  // function dragstarted(d) {
  //   d3.select(this).attr("stroke", "black");
  // }

  // function dragged(d) {
  //   d3.select(this).raise().attr("x", d.x = d3.event.x).attr("y", d.y = d3.event.y);
  // }

  // function dragended(d) {
  //   d3.select(this).attr("stroke", null);
  // }

  // var drag = d3.drag()
  //     .on("start", dragstarted)
  //     .on("drag", dragged)
  //     .on("end", dragended);;

  var booth = svg.selectAll(".dot")
                .data(data)
                .enter()
                .append("g")
                
            booth.append("rect")
                .attr("class", "booth")
                .attr("id", function(d){
                  return 'group' + d.group;
                })
                .attr("x", function(d){
                  return d.x * ratiox;
                })
                .attr("y", function(d){
                  return d.y * ratioy;
                })
                .attr("height", function(d){
                  return d.height * ratioy;
                })
                .attr("width", function(d){
                  return d.width * ratiox;
                })
                // .attr("transform", "translate(0," + height + ")")
                .attr("transform", function(d){
                  return "rotate(" + d.rotate + ")";
                })
                // .call(drag)
                .on("click", function(d){
                  console.log(d.group);
                  $("#selected-booth-name").text(d.group);
                })
                ;
                


    var text = svg.selectAll(".dot")
                  .data(data)
                  .enter()
                  .append("text")
                  .attr("class", "name")
                  .attr('text-anchor', 'middle')
                  .style("font-size", "14px")
                  .attr("x", function(d){
                    return (d.x + d.width / 2) * ratiox;
                  })
                  .attr("y", function(d){
                    return (d.y + d.height / 2) * ratioy;
                  })
                  .attr("transform", function(d){
                    return "rotate(" + d.rotate + ")";
                  })
                  .text(function(d){
                    return d.group;
                  })
                  ;

    svg.call(d3.zoom().on("zoom", zoomed));
        
</script>