{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>

      #map-layout{
        stroke-width: 1px;
        stroke: black;
        clip-path: url(#clip);
      }

      #tools .active{
        /* color: white;
        background-color: black;
        stroke: blue;
        outline-color: blue; */
        border-width: 2pt;
        border-color: lightblue;
      }

      .booth-item-containers form{
        display: table;
      }

      .booth-item-containers p{
        display: table-row;
      }

      .booth-item-containers label{
        display: table-cell;
      }

      .booth-item-containers input{
        display: table-cell;
      }


      #selection-container form{
        display: table;
      }

      #selection-container p{
        display: table-row;
      }

      #selection-container label{
        display: table-cell;
      }

      #selection-container input{
        display: table-cell;
      }

    </style>
  </head>

  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <title>Main Page</title>
  <body> 
    <nav class="navbar fixed-top flex-md-nowrap p-0 shadow justify-content-between">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">Swapstone</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <div class="d-flex justify-content-end">
        <a class="nav-link" href="{% url 'change_password' %}">Change password</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'csv'%}">
              <span data-feather="file"></span>
              Load CSV File
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved layouts</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Saved Data 1
            </a>
          </li>
        </ul>
        <button class="save-btn btn-lg btn-success btn-block">Save</button>
      </div>
    </nav>
    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-0">
      <div class = "map" id = "main">
        <div id = "tools">
          <button type="button" id="dragbooth-button" onclick = "dragBoothButtonHandler()">Drag Booth</button>
          <button type="button" id="zoom-button" onclick = "zoomButtonHandler()">Zoom & Pan</button>
          <button type="button" id="undo-button" onclick = "undoButtonHandler()">Undo</button>
        </div>
        <div id = "allocation-container">
        </div>
        <div id = "selection-container">
          <h2 id = "selected-booth-name">Selected Booth: </h2>
          <div>
            <p>
              <label>X : </label><input type = "text" id = "input-x">
           
              <label>Y : </label><input type = "text" id = "input-y">
            </p>
            <p>
              <label>Height : </label><input type = "text" id = "input-length">
            
              <label>Width : </label><input type = "text" id = "input-width">  
            </p>
            <p>
              <label>Area : </label><label id = "selected-booth-actual-area" > </label>

              <label>Project Name : </label><label id = "selected-booth-project-name"></label>
            </p>
            <p>
              <label>Industry : </label><label id = "selected-booth-industry"></label>

              <label>Project ID : </label><label id = "selected-booth-project-id"></label>

            </p>
            <button id = "remove-button">Remove</button>
          </div>          
        </div>
      </div>
    </main>
    <nav class="col-md-2 d-none d-md-block bg-light rightbar">
      <div class="rightbar-sticky">
        <ul class="list-of-booths flex-column" id = "booth-list">
          <!-- <li class="booth-item">
            <a class="booth-link">Booth #1</a>
          </li> -->
        </ul>
        <form method="post" enctype="multipart/form-data" class="upload-form">
          {% csrf_token %}
          <button type="submit" class="allocate-btn btn-lg btn-dark btn-block">Allocate</button>
        </form>
      </div>
    </nav>
  </div>
</div>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
<script src="http://d3js.org/d3.v5.js"></script>
<script>
  // initialize constant
  var img = new Image();
  img.src = "{% static 'images/campuscentre-lvl1.jpg' %}"

  const MAX_WIDTH = img.width;
  const MAX_HEIGHT = img.height;
  
  const ratiox = MAX_WIDTH / 1000;
  const ratioy = MAX_HEIGHT / 1000;

  const mapRatio = 13.397; //pixel / meter

  //for zoom functionality
  const MAX_TRANSLATE_X = MAX_WIDTH / 2;
  const MIN_TRANSLATE_X = -MAX_TRANSLATE_X;
  const MAX_TRANSLATE_Y = MAX_HEIGHT / 2;
  const MIN_TRANSLATE_Y = -MAX_TRANSLATE_Y;
  
  const data = [];

  var preData = ( "{{ booth|escapejs }}" );
  var parseData = JSON.parse(preData);
  for (var i = 0; i < parseData.length ; i++){
    parseData[i].fields.position_x = parseFloat(parseData[i].fields.position_x)
    parseData[i].fields.position_y = parseFloat(parseData[i].fields.position_y)
    parseData[i].fields.length_pixel = parseFloat(parseData[i].fields.length_pixel)
    parseData[i].fields.width_pixel = parseFloat(parseData[i].fields.width_pixel)
    parseData[i].fields.rotation = parseFloat(parseData[i].fields.rotation)
    parseData[i].fields.length = parseFloat(parseData[i].fields.length)
    parseData[i].fields.width = parseFloat(parseData[i].fields.width)
    parseData[i].fields.area = parseFloat(parseData[i].fields.area)
    // parseData[i].fields.x = parseFloat(parseData[i].fields.position_x)
    // parseData[i].fields.y = parseFloat(parseData[i].fields.position_y)
    data.push(parseData[i].fields)
  }
  console.log(data);

  const MAXUNDOCOUNT = 5;
  var undoArray = []
  var undoCount = 0;
  var undoBooth;
  var changesCount = 0;
  var changeLimitIndex;

  // maybe data = function() -> import data -> json preferred
  // var data = [{"project_id" :  0, "position_x" : 360, "position_y" : 360, "width_pixel" : 80, "length_pixel" : 80, "project_name" : "C2", "rotation" :90},
  // {"project_id" :  1, "position_x" : 440, "position_y" : 400, "width_pixel" : 40, "length_pixel" : 40, "project_name": "C1", "rotation" : 20},
  // {"project_id" :  2, "position_x" : 480, "position_y" : 400, "width_pixel" : 40, "length_pixel" : 40, "project_name" : "C10", "rotation" : 30},
  // {"project_id" :  3, "position_x" : 520, "position_y" : 400, "width_pixel" : 40, "length_pixel" : 40, "project_name" : "C3", "rotation" : 40},
  // {"project_id" :  4, "position_x" : 400, "position_y" : 450, "width_pixel" : 40, "length_pixel" : 40, "project_name" : "C4", "rotation" : 50},
  // {"project_id" :  5, "position_x" : 400, "position_y" : 490, "width_pixel" : 40, "length_pixel" : 40, "project_name" : "C28", "rotation" : 0},
  // {"project_id" :  6, "position_x" : -1, "position_y" : -1, "width_pixel" : 80, "length_pixel" : 70, "project_name" : "C14", "rotation" : 0},
  // {"project_id" :  7, "position_x" : -1, "position_y" : -1, "width_pixel" : 80, "length_pixel" : 80, "project_name" : "C21", "rotation" : 0}];

  var canDragBooth = false;
  var canZoom = false;

  var curBoothID;

  function checkAssigned(i){
    if (data[i].position_x < 0){
      return false;
    }
    if (data[i].position_y < 0){
      return false;
    }
    return true;
  }

  function setSelectedBoothInformation(d){
      $("#selected-booth-name").text("Selected Booth: " + d.project_name);
      $("#input-x").val(Math.round(d.position_x));
      $("#input-y").val(Math.round(d.position_y));
      $("#input-width").val(Math.round(d.width));
      $("#input-length").val(Math.round(d.length));
      $("#selected-booth-actual-area").text(d.area);
      $("#selected-booth-project-name").text(d.project_name);
      $("#selected-booth-project-id").text(d.project_id);
      $("#selected-booth-industry").text(d.industry);
  }

  function updateData(d){
    for (key in d){
      data[parseInt(d.project_id) - 1][key] = d[key]
    }
  }

  // inititalizing the axis and scale
  var xscale = d3.scaleLinear()
          .domain([-1, MAX_WIDTH])  // The domain is the complete set of values
          .range([0, MAX_WIDTH])    // The range is the set of resulting function
          ;
  
  var yscale = d3.scaleLinear()
          .domain([-1, MAX_HEIGHT])
          .range([MAX_HEIGHT, 0])
          ;
  
  // .tickSize and ticks create the grid
  var x_axis = d3.axisTop(xscale)
          // .tickSize(MAX_HEIGHT)
          // .ticks(40)
          ;
  
  var y_axis = d3.axisLeft(yscale)
          // .tickSize(-MAX_WIDTH)
          // .ticks(40)
          ;

  // create svg canvas
  var svg = d3.select("#main")
              .select("#allocation-container")
              .append("svg")
              .attr("id", "allocation")
              .attr("width", MAX_WIDTH + 30) //account the padding total
              .attr("height", MAX_HEIGHT + 30)
              ;

  svg.append("defs")
      .append("clipPath")
      .attr("id", "clip")
      .append("rect")
      .attr("height", MAX_HEIGHT)
      .attr("width", MAX_WIDTH)
      .attr("fill", "none")
      .attr("stroke", "none")
      ;

  // include zoom and drag functionality
  var zoom = d3.zoom()
      .scaleExtent([1, 2])
      .translateExtent([
        [0, 0],
        [MAX_WIDTH, MAX_HEIGHT]
      ])
      .on("zoom", function(d){
        if(canZoom){
          // gX.call(x_axis.scale(d3.event.transform.rescaleX(xscale)));
          // gY.call(y_axis.scale(d3.event.transform.rescaleY(yscale)));
          image.attr("transform", d3.event.transform);
          // .attr("clip-path","url(#clip)");
          booth.attr("transform", d3.event.transform);
          // .attr("clip-path","url(#clip)");
          // .attr("clip-path","url(#clip)");
          
        } else {
        }
      });

//  include drag booth functionality
  var drag = d3.drag()
      .on("start", function(d){
        if(canDragBooth){
          d3.select(this).attr("stroke", "red");

          changesCount += 1;
          undoArray[changesCount % 5] = {"project_id" : d.project_id, "x": d.position_x, "y": d.position_y, "width_pixel": d.width_pixel, "length_pixel": d.length_pixel}

          if (changesCount >= 5){
            changeLimitIndex += 1;
            changeLimitIndex %= 5;
          }

          if (undoCount < 5){
            undoCount += 1
          }

        }
      })
      .on("drag", function(d){
        if(canDragBooth){
          d3.select(this).raise()
          .attr("transform", function(d){
            return "rotate(" + d.rotation + " " + (d.position_x  + d.width_pixel / 2) + " " + (d.position_y + d.length_pixel / 2) +")";
          })
          .attr("x", function(d){
              d.position_x += d3.event.dx;
              d.position_x = Math.max(0, Math.min(MAX_WIDTH - d.width_pixel, d.position_x));
              return d.position_x;
            })
          .attr("y", function(d){
              d.position_y += d3.event.dy;
              d.position_y = Math.max(0, Math.min(MAX_HEIGHT - d.length_pixel, d.position_y));              
              return d.position_y;
            })
          
          setSelectedBoothInformation(d);
          

          svg.select("#booth-text-id-"+ d.project_id)
              .attr("transform", function(d){
                return "rotate(" + d.rotation + " " + (d.position_x  + d.width_pixel / 2) + " " + (d.position_y + d.length_pixel / 2) +")";
              })
              .attr("x", function(d){
                return d.position_x + (d.width_pixel / 2);
              })
              .attr("y", function(d){
                return d.position_y + (d.length_pixel / 2);
              })
              ;
        }
      })
      .on("end", function(d){
        if(canDragBooth){
                    
          // var stateStartPointer;
          // var stateCurrentPointer = 0;
          // var changeLimitIndex;

          // console.log(stateStartPointer) -- undefined
          

          //POST TO DATABASE
          var tobeSent = $.param(data);
          var jsonString = JSON.stringify(data);
          // console.log(jsonString)
          // console.log(data);
          // console.log(cookies.crsftoken);
          // $.ajax({
          //     url: '/accounts/change_allocation',
          //     type: 'POST',
          //     contentType: 'application/json; charset=utf-8',
          //     data: data,
          //     dataType: 'text',
          // });

          $.post('accounts/change_allocation', jsonString) ;
          // const xhr = new XMLHttpRequest();

          // xhr.open("POST", "accounts/change_allocation");
          // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
          // xhr.send("data");
        }
      });

  // change booth attributes by keying the value
  $("#input-x").keyup(function(){
    var value = $(this).val();
    svg.select("#booth-id-" + curBoothID)
        .attr("x", function(d){
          d.position_x = parseFloat(value);
          return d.position_x;
        });
    svg.select("#booth-text-id-" + curBoothID)
        .attr("x", function(d){
          return d.position_x + d.width_pixel / 2;
        });
  }).keyup();

  $("#input-y").keyup(function(){
    var value = $(this).val();
    svg.select("#booth-id-" + curBoothID)
        .attr("y", function(d){
          d.position_y = parseFloat(value);
          return d.position_y;
        });
    svg.select("#booth-text-id-" + curBoothID)
        .attr("y", function(d){
          return d.position_y + d.length_pixel / 2;
        });
  }).keyup();

  $("#input-length").keyup(function(){
    var value = $(this).val();
    svg.select("#booth-id-" + curBoothID)
        .attr("height", function(d){
          d.length = parseFloat(value);
          d.length_pixel = d.length * mapRatio;
          return d.length_pixel;
        });
    svg.select("#booth-text-id-" + curBoothID)
        .attr("y", function(d){
          return d.position_y + d.length_pixel / 2;
        });
    // $('#selected-booth-actual-area').text(data[curBoothID].width * data[curBoothID].length);
  }).keyup();

  $("#input-width").keyup(function(){
    var value = $(this).val();
    svg.select("#booth-id-" + curBoothID)
        .attr("width", function(d){
          d.width = parseFloat(value);
          d.width_pixel = d.width * mapRatio;
          return d.width_pixel;
        });
    svg.select("#booth-text-id-" + curBoothID)
        .attr("x", function(d){
          return d.position_x + d.width_pixel / 2;
        });
    // $('#selected-booth-actual-area').text(data[curBoothID].width * data[curBoothID].length);
  }).keyup();

  $("#remove-button").click(function(){
    booth.select('#booth-id-' + curBoothID)
      .attr("visibility", "hidden");  
    booth.select('#booth-text-id-' + curBoothID)
      .attr("visibility", "hidden");
    $('#booth-item-'+ curBoothID).show();
  })

  $(".booth-item-buttons").click(function(){
    console.log("HIHIHIHIHI")
  })

  // image
  var image = svg.append('image')
                .attr("id", "map-layout")
                .attr("clip-path","url(#clip)")
                .attr('x', 0)
                .attr('y', 0)
                .attr("href", "{% static 'images/campuscentre-lvl1.jpg' %}")
                .attr("transform", "translate(15,15) scale(1)")
                ;


  // axis handler
  var gX =  svg.append("g")
        .attr("id", "x-axis")
        .call(x_axis)
        ;

  $("#x-axis").hide()

  var gY = svg.append("g")
        .attr("id", "y-axis")
        .call(y_axis)
        ;

  $("#y-axis").hide()

  var booth = svg.selectAll('.booth')
                .data(data)
                .enter()
                .append("g")
                .attr("class", function(d){
                  return "booth-containers";
                })
                .attr("id", function(d){
                  return "booth-container-id-" + d.project_id;
                })

    booth.append("text")
            .attr("class", "name")
            .attr("id", function(d){
              return "booth-text-id-" + d.project_id;
            })
            .attr('text-anchor', 'middle')
            .style("font-size", function(){
              return "11px";
            })
            .attr("x", function(d){
              return d.position_x + (d.width_pixel / 2);
            })
            .attr("y", function(d){
              return d.position_y + (d.length_pixel / 2);
            })
            .attr("transform", function(d){
              return "rotate(" + d.rotation + " " + (d.position_x  + d.width_pixel / 2) + " " + (d.position_y + d.length_pixel / 2) +")";
            })
            .text(function(d){
              return d.project_id;
            })
            .attr("visibility", function(d){
              if (d.position_x < 0){
                return "hidden"
              }
            })
            ;        
            
    booth.append("rect")
          .attr("class", "booth")
          .attr("id", function(d){
            return 'booth-id-' + d.project_id;
          })
          .attr("x", function(d, i){
            if(d.position_x > 0){
              return d.position_x;
            }
          })
          .attr("y", function(d){
            if(d.position_y > 0){
              return d.position_y;
            }
          })
          .attr("height", function(d){
            return d.length_pixel;
          })
          .attr("width", function(d){
            return d.width_pixel;
          })
          .attr("clip-path","url(#clip)")
          .attr("transform", function(d){
            return "rotate(" + d.rotation + " " + (d.position_x  + d.width_pixel / 2) + " " + (d.position_y + d.length_pixel / 2) +")";
          })
          .attr("visibility", function(d){
            if (d.position_x < 0){
              return "hidden"
            }
          })
          .call(drag)
          .on("click", function(d){
            curBoothID = d.project_id;
            setSelectedBoothInformation(d);
          })
          ;

    svg.call(zoom);

    for (var i = 0; i < data.length; i++){
      // if (!checkValidXY(i)){
        // $("#booth-container-id-" + data[i].id).hide()
        // $("#booth-text-id-" + data[i].id).hide()
      //  null || data[i].y == null || data[i].height == null || data[i].width == null){
        $("#booth-list").append('<li id = "booth-item-' + data[i].project_id + '"><a class = "booth-link">' + data[i].project_name + '</a></li>');
        $("#booth-list").append('<form id = "booth-item-container-' + data[i].project_id + '" class = "booth-item-containers">  </form>');

        // $('#booth-item-container-' + data[i].id).append('<p><label>X : </label><input type = "text" id = "booth-item-input-x-' + data[i].id + '"></p>');
        // $('#booth-item-input-x-' + data[i].id).val(-1); 
        // console.log($('#booth-item-input-x-' + data[i].id).val());

        // $('#booth-item-container-' + data[i].id).append('<p><label>Y : </label><input type = "text" id = "booth-item-input-y-' + data[i].id + '"></p>');
        // $('#booth-item-input-y-' + data[i].id).val(-1); 

        // $('#booth-item-container-' + data[i].id).append('<p><label>Height : </label><input type = "text" id = "booth-item-input-length-' + data[i].id + '"></p>');
        // $('#booth-item-input-length-' + data[i].id).val(Math.round(data[i].height)); 

        // $('#booth-item-container-' + data[i].id).append('<p><label>Width : </label><input type = "text" id = "booth-item-input-width-' + data[i].id + '"></p>');
        // $('#booth-item-input-width-' + data[i].id).val(Math.round(data[i].width)); 
        
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-length-' + data[i].project_id + '" ><label> Length </label><label> : ' + data[i].length + '</label> </p>');
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-width-' + data[i].project_id + '" ><label> Width </label><label> : ' + data[i].width + '</label> </p>');
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-area-' + data[i].project_id + '" ><label> Area </label><label> : ' + data[i].area + '</label> </p>');
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-project-name-' + data[i].project_id + '" ><label> Project Name </label><label> : ' + data[i].project_name + '</label> </p>');
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-project-id-' + data[i].project_id + '" ><label> Project ID </label><label> : ' + data[i].project_id + '</label> </p>');
        $('#booth-item-container-' + data[i].project_id).append('<p class = "booth-item-text" id = "booth-item-text-industry-' + data[i].project_id + '" ><label> Industry </label><label> : ' + data[i].industry + '</label> </p>');

        $('#booth-item-container-' + data[i].project_id).append('<button type = "button" id = "booth-item-button-' + data[i].project_id + '"> Add Booth </button>');
        $('#booth-item-button-' + data[i].project_id).click(function(){
          var thisID = $(this).attr("id").slice(18);
          // data[thisID].x =  parseInt($('#booth-item-input-x-' + data[thisID].id).val());
          // data[thisID].y =  parseInt($('#booth-item-input-y-' + data[thisID].id).val());
          // data[thisID].height =  parseInt($('#booth-item-input-length-' + data[thisID].id).val());
          // data[thisID].width =  parseInt($('#booth-item-input-width-' + data[thisID].id).val());
          // $('#booth-container-id-' + thisID).append('<rect x = "100" y = "100" height = "100" width= "100" class = "booth" id = booth-id-' + thisID + '></rect>');
          booth.select('#booth-id-' + thisID)
          // .attr("x", data[thisID].x)
          // .attr("y", data[thisID].y)
          // .attr("height", data[thisID].height)
          // .attr("width", data[thisID].width)
          .attr("visibility", "visible");

          booth.select('#booth-text-id-' + thisID)
          .attr("visibility", "visible");
         
          $('#booth-item-container-'+ thisID).hide();
          $('#booth-item-'+ thisID).hide();
        })

        $(".booth-item-containers").hide();
        $('#booth-item-'+ data[i].project_id).click(function(i) {
        var thisID = $(this).attr("id").slice(11);
        $('#booth-item-container-' + thisID).toggle();
        })

      // }
      if(checkAssigned(i)){
        $('#booth-item-container-'+ data[i].project_id).hide();
        $('#booth-item-'+ data[i].project_id).hide();
      }
    }

    function dragBoothButtonHandler(){
      $("#dragbooth-button").toggleClass("active");
      canDragBooth = !canDragBooth;
    }

    svg.on(".zoom", null);

    function zoomButtonHandler(){
      $("#zoom-button").toggleClass("active");
      canZoom = !canZoom;
      if(canZoom){
        svg.call(zoom)
      } else {
        svg.on(".zoom", null);
      }
    }

    // console.log(undoArray);

    function undoButtonHandler(){

      if (undoCount != 0 ){
        undoBooth = undoArray[changesCount % 5]
        if (changesCount % 5 != changeLimitIndex){
          booth.select("#booth-id-" + undoBooth.project_id)
                .attr('x', undoBooth.x)
                .attr('y', undoBooth.y)
          booth.select("#booth-text-id-" + undoBooth.project_id)
                .attr('x', undoBooth.x + undoBooth.width_pixel / 2)
                .attr('y', undoBooth.y + undoBooth.length_pixel / 2)
          updateData(undoBooth)
       }
       undoCount -= 1;
       changesCount -= 1;
      }

    }

    console.log(data);
    
   
</script>