{% extends "registration/base_login.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  <h6 class="reset-password-msg">Key in your email here for us to send you an email to reset your password</h6>
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required placeholder="Email" id="id_email">
  <div class="button login-button">
    <input type="submit" class="btn btn-primary btn-lg form-control" value="Send Email">
  </div>
  <div class="login">
    <a href="/accounts/login" class="link">Back to login</a>
  </div>
  </form>
{% endblock %}