{% extends "registration/base_login.html" %}
{% block content %}
  <form method="post" action="{% url 'reset_password' %}" class="form-signin">
      {% csrf_token %}
      <h6 class="welcome-message">Key in your email address and we will send you a link to change your password</h6>
      <label for="id_email" class="sr-only">Email address</label>
      <input type="email" name="email" maxlength="150" id="id_email" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
      {% if form.errors %}
        <p>Something wrong happened. Please try again.</p>
      {% endif %}
      <div class="button login-button">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="login">
        <a href="/accounts/login" class="link">Back to login</a>
      </div>
    </form>
{% endblock %}