body,html{
  height: 100%;
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}


.upload-form {
  font-size: 1.2rem;
}

/*
 * Navbar
 */
 .navbar {
  background-color: #ff8300;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: #fff6ec;
  background-color: rgba(0, 0, 0, .15);
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);*/
}

.nav-link{
  color: #000000;
}

.password-form-subunit{
  width: 100%;
  max-width: 300px;
  padding: 1px;
  margin: auto;
}
.password-form-subunit .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.password-form-subunit input[name="old_password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.password-form-subunit input[name="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.password-form-subunit input[name="first_password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.password-form-subunit .label {
  margin-bottom: 40px;
}
.helptext li {
  list-style-type: none;
  text-align: left;
}
.errorlist {
    padding: 0;
    list-style-type: none;
}
.helptext{
  border: none;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}